// @import "base";
// @import "layout";
// @import "component";

@use './abstract/base';
@use './abstract/component';
@use './abstract/layout';

// @use './abstract/layout/1024down';



body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans';
  font-weight: 300;
}